:host .text-area-body {
    display: inline;
}

:host .editor {
    white-space: pre-wrap;
    border: 1px solid coral;
    min-width: 200px;
    width: calc( 100% - 40px );
    height: 100px;
    min-height: 20px;
    text-align: left;
    position: absolute;
    left: 20px;
    font-size: 16px;
    color: gray;
}

:host .editor .dml {
    font-size: 20px;
    font-weight: bold;
    color: lightskyblue;
}

:host .editor .where {
    font-size: 20px;
    font-weight: bold;
    color: lightslategray;
}

:host .editor .column {
    font-size: 16px;
    font-weight: normal;
    color: gray;
}

:host .word {
    max-width: 100px;
    border: 1px solid chocolate;
}

:host .word-list {
    background-color: #fff;
    border: 1px solid lightslategray;
    box-shadow: 5px 5px 5px lightslategray;
    text-align: left;
}

:host ul {
    list-style: none;
    list-style-type: none;
    text-align: left;
    padding: 0px;
    margin: 0px auto;
}

:host li {
    padding: 1px 5px 1px 5px;
    margin: 2px auto;
}

:host li:hover {
    background-color: lightgrey;
}

li {list-style-type: none;}