:host .text-area-body {
    display: inline;
}

:host .editor {
    white-space: pre-wrap;
    border: 1px solid coral;
    min-width: 200px;
    width: calc( 100% - 40px );
    height: 100px;
    min-height: 20px;
    text-align: left;
    position: absolute;
    left: 20px;
}

:host .editor .dml {
    font-size: 20px;
    font-weight: bold;
    color: lightskyblue;
}

:host .editor .where {
    font-size: 20px;
    font-weight: bold;
    color: lightslategray;
}

:host .editor .column {
    font-size: 16px;
    font-weight: normal;
    color: gray;
}

:host .word {
    max-width: 100px;
    border: 1px solid chocolate;
}

:host .word .word-list {
    background-color: #fff;
}

li {list-style-type: none;}